Repository smv1999/CompetitiveProgrammingQuestionBank, pull requests merged in 2021-08, with the labels that each got.

#816 Added the code for Default Constructor in C++
  OOPs/Constructor/Default_Constructor_cpp.cpp
Labels: DCP21, Level1

#803 Min Max Sum
  Arrays/Min_Max_Sum.py
Labels: DCP21, Level1, Python

#812 Palindrome Checker
  Data Structures/Stacks/Palindrome_Checker.py
Labels: DCP21, Level1

#809 Integer
  Arrays/integer.c
Labels: DCP21, Level1

#818 Adjacency List added
  Data Structures/Graphs/Adjacency_List.cpp
Labels: DCP21, Level2

#820 Compare two linked lists with python
  Data Structures/Linked Lists/Singly Linked List/compare_two_linkedlist.py
Labels: DCP21, Level1

#825 Create sort_elements_by_frequency.cpp
  Hashing/sort_elements_by_frequency.cpp
Labels: DCP21, Level1

#827 Longest Substring with At Least K Repeating Characters
  Strings/Longest_Substring_with_AtLeast_K_Repeating_Characters.cpp
Labels: DCP21, Level2

#721 Tower of hanoi java
  Recursion/towerOfHanoi.java
Labels: DCP21, Level1

#785 Add Bubble_Sort.java
  Sorting Algorithms/Bubble_Sort.java
Labels: Approved Pull Request, DCP21, Java, Level0

#813 Added remove duplicates
  Recursion/remove_duplicates.cpp
Labels: Approved Pull Request, DCP21, Level0

#822 Python solution for Next greater element in DSA450
  DSA 450 GFG/next_greater_element.py
Labels: DCP21, Level0

#808 Added Truck tour problem (Hackerrank)
  Data Structures/Queues/Truck_tour.cpp
Labels: Changes Requested, DCP21, Level3

#833 Added the code for Constructor Overloading
  OOPs/Constructor/Constructor_Overloading_cpp.cpp
Labels: Approved Pull Request, DCP21, Level1

#834 Added the code for Copy Constructor
  OOPs/Constructor/Copy_Constructor_cpp.cpp
Labels: Approved Pull Request, DCP21, Level0

#823 cycle detection using java in linked lists
  Data Structures/Linked Lists/Singly Linked List/cycle-detection-using-java.java
Labels: DCP21, Level2

#846 Added the code for Deep Copy Constructor in C++
  OOPs/Constructor/Deep_Copy_Constructor_cpp.cpp
Labels: Approved Pull Request, DCP21, Level1

#847 Added the code for Shallow Copy Constructor in C++
  OOPs/Constructor/Shallow_Copy_Constructor_cpp.cpp
Labels: Approved Pull Request, DCP21, Level1

#852 Red alert solution (codechef problem) in C language.
  Codechef Problems/Red_alert.c
Labels: Approved Pull Request, DCP21, Level1

#800 Create redundant_braces.cpp
  Data Structures/Stacks/redundant_braces.cpp
Labels: Approved Pull Request, C++, DCP21, Level1

#856 Added Flappy bird problem
  Codechef Problems/FlappyBird.java
Labels: DCP21, Level1, Approved Pull Request

#843 Trie in Python
  Trie/Trie_add_Search_using_dict.py
Labels: DCP21, Level2, Python, Approved Pull Request

#859 Added Day 8 Solution to hackerrank-30 days of code folder
  Hackerrank solutions/30 days Of Code/Day8-Dictionaries_and_Maps.c
Labels: DCP21, Level1, C++, Approved Pull Request

#865 Added the code for Encapsulation in C++
  OOPs/Encapsulation/Encapsulation_cpp.cpp
Labels: DCP21, Level0, Approved Pull Request

#866 Added the code for Abstraction in C++
  OOPs/Abstraction/Abstraction_cpp.cpp
Labels: DCP21, Level0, Approved Pull Request

#862 Added code for the program to convert given no to word in general question
  General Questions/possible no from word.cpp
Labels: DCP21, Level1, Approved Pull Request

#837 Added a code to merge linkedlist using python
  Data Structures/Linked Lists/Singly Linked List/merge_two_sorted_linkedlist.py
Labels: DCP21, Level1, Python, Approved Pull Request

#867 Heap Sort added
  Sorting Algorithms/heap_sort.py
Labels: DCP21, Level1, Approved Pull Request

#848 Leap Year
  Arrays/leap.java
Labels: DCP21, Level1

#878 Created TheLeadGame
  Codechef Problems/TheLeadGame.cpp
Labels: DCP21, Level1

#882 Added MultiLevel Inheritance in Java
  OOPs/Inheritance/MultiLevel_Inheritance.java
Labels: DCP21, Level1

#886 Added Method overriding in java
  OOPs/Polymorphism/Method_Overriding.java
Labels: DCP21, Level1

#887 Added Insertion Sort in java
  Sorting Algorithms/InsertionSort.java
Labels: DCP21, Level1

#889 Added the code for Destructor in C++
  OOPs/Destructor/Destructor_cpp.cpp
Labels: DCP21, Level0, Approved Pull Request

#892 Added the code for Friend Class in C++
  OOPs/Friend Class & Function/Friend_Class_cpp.cpp
Labels: DCP21, Level0, Approved Pull Request

#894 counting sort added
  Sorting Algorithms/counting_sort.py
Labels: DCP21, Level0, Approved Pull Request

#903 Polynomial Verification
  General Questions/Polynomial_Verification.py
Labels: DCP21, Level0, Approved Pull Request

#905 Prime Numbers
  Numbers/Prime_Numbers.py
Labels: DCP21, Level0, Approved Pull Request

#881 Added Bridge edge in Graph problem
  Codechef Problems/MaximumArrayXOR.java
  Data Structures/Graphs/Bridge_edge_in_graph.cpp
Labels: DCP21, Level2, Approved Pull Request

#876 Added Serialize and Deserialize Binary Tree problem
  OOPs/Abstraction/Abstraction_cpp.cpp
  OOPs/Encapsulation/Encapsulation_cpp.cpp
Labels: Changes Requested, under review, DCP21

#891 Check redundant brackets (closes #853)
  Data Structures/Stacks/Check redundant brackets.py
Labels: DCP21, Level1, Approved Pull Request

#909 edited Dutch national flag problem
  General Questions/Dutch_national_flag2.java
Labels: DCP21, Level1

#915 docs: Fix a few typos
  Data Structures/Graphs/BFS.py
  Data Structures/Stacks/Previous_Greater_Element.cpp
  Dynamic Programming/Buy_And_Sell_Stocks.cpp
  Dynamic Programming/Square_brackets.cpp
  Dynamic Programming/knapsack_01.cpp
  General Questions/intersection_of_arrays.c
  Numbers/Sieve-of-Eratosthenes.cpp
  Sorting Algorithms/insertion_sort.cpp
  Strings/Capitalizing.py
  Trie/Trie_add_Search_using_dict.py
Labels: Approved Pull Request
