Repository smv1999/CompetitiveProgrammingQuestionBank, pull requests merged in 2021-07, with the labels that each got.

#283 Add Sum of three values
  Arrays/sum_of_three_values.c++
Labels: DCP21, Level1

#301 Perform mathematical operations on Complex Numbers
  Complex_numbers.cpp
Labels: C++, DCP21, Level0

#286 Collinearity of three points added
  Dynamic Programming/Collinearity_of_three_points.cpp
Labels: C++, DCP21, Level0

#299 Added Longest Common Substring program (in cpp)
  Dynamic Programming/Longest_common_substring.cpp
Labels: Approved Pull Request

#300 Create K-th_bit_is_set_or_not.cpp
  Bit Manipulation/K-th_bit_is_set_or_not.cpp
Labels: Approved Pull Request, C++, DCP21, Level0

#302 Added bubble sort in python.
  Sorting Algorithms/bubble_sort.py
Labels: Approved Pull Request

#314 Minimize the maximum difference between heights
  Arrays/Minimize_the_height.cpp
Labels: C++, DCP21, Level1

#330 WaveSort Question is added to the Sorting Algorithms Folder
  Sorting Algorithms/wavesort.cpp
Labels: C++, DCP21, Level0, under review

#334 Added Find and Replace Pattern
  Strings/findAndReplacePattern.cpp
Labels: C++, DCP21, Level2

#362 feat: Add Armstrong Number
  Numbers/armstrong_number.cpp
Labels: C++, DCP21, Level0

#360 Added Print all permutations of a string problem code
  Backtracking/Print_all_permutations_of_string.java
Labels: DCP21, Java, Level1

#358 Added Graph Coloring Problem code in Backtracking folder
  Backtracking/Graph_Coloring_Problem.cpp
Labels: C++, DCP21, Level2

#386 Water Jug Problem
  Backtracking/water_jug_problem.py
Labels: DCP21, Level2, Python

#401 Added ShuffleTheArray
  Arrays/ShuffleTheArray.cpp
Labels: C++, DCP21, Level1

#372 #279 Add Sieve of Eratosthenes in C language
  Numbers/Sieve.c
Labels: DCP21, Level1

#380 Added Kadane's Algorithm in python
  Arrays/Kadane's_Algorithm.py
Labels: DCP21, Level0

#399 Solved issue #349 assigned to @sr-sweta
  Data Structures/Linked Lists/Singly Linked List/merge_k_sorted_linkedlist.cpp
Labels: C++, DCP21, Level1

#338 Remove all Duplicates from Linkedlist added
  Data Structures/Linked Lists/Remove_all_Duplicates_from_Linnkedlist.cpp
Labels: Approved Pull Request, C++, DCP21, Level1

#429 Added binary search in cpp.
  Searching Algorithms/binary_search.cpp
Labels: Approved Pull Request, C++, DCP21, Level0

#369 Create Sieve-of-Eratosthenes.c++
  Numbers/Sieve-of-Eratosthenes.cpp
Labels: Approved Pull Request, C++, DCP21, Level1

#423 Create Straight Maximum Algorithm
  Numbers/MaxMin.cpp
Labels: Approved Pull Request, C++, DCP21, Level0

#420 Create Power of n element
  Divide and Conquer/Powerofnumber.cpp
Labels: Approved Pull Request, C++, DCP21, Level1

#427 This will close issue #356(techgig problem)
  Techgig Code Gladiators 2021/Readme.md
  Techgig Code Gladiators 2021/open round/prime_game.md
  Techgig Code Gladiators 2021/open round/prime_game.py
  Techgig Code Gladiators 2021/open round/virus_outbreak.md
  Techgig Code Gladiators 2021/open round/virus_outbreak.py
  Techgig Code Gladiators 2021/semifinals/jazzy and cricket balls.md
  Techgig Code Gladiators 2021/semifinals/jazzy and cricket balls.py
Labels: Approved Pull Request, DCP21, Level2, Python

#444 Simple Linked List Operations in C++
  Data Structures/Linked Lists/Singly Linked List/simple_linkedlist_operations.cpp
Labels: Approved Pull Request, C++, DCP21, Level0

#432 #376 Implementation of Dijkstra's Algorithm using C language.
  Data Structures/Graphs/Dijkstra.c
Labels: Approved Pull Request, C++, DCP21, Level1

#431 Python-singly-linked-list-all-operations
  Data Structures/Linked Lists/Singly Linked List/Single-linked-list-operations.py
Labels: Approved Pull Request, DCP21, Level1

#434 Solution added for max and min element in array
  Arrays/max_and_min_element.cpp
Labels: C++, DCP21, Level0

#437 Balanced Parenthesis
  Data Structures/Stacks/BalancedParenthesis.java
Labels: Approved Pull Request, DCP21, Java, Level0

#440 Added the stl approach for solving the balanced parenthesis problem
  Standard Template Library/balancedparenthesis_stl.cpp
Labels: Approved Pull Request, C++, DCP21, Level0

#442 Warshall Algorithm in Python
  Data Structures/Graphs/WarshallAlgorithm.py
Labels: Approved Pull Request, DCP21, Level1

#410 Hamiltonian Cycle (Python)
  Backtracking/Hamiltonian_Cycle.py
Labels: Approved Pull Request, DCP21, Level1, Python

#398 Added maximal square question
  Dynamic Programming/Maximal_square.cpp
Labels: Approved Pull Request, C++, DCP21, Level2

#459 Added binary search in python
  Searching Algorithms/binary_search.py
Labels: DCP21, Level0

#428 Added Rabin_Karp and KMP Algorithm Programs in Strings Folder
  Strings/KMP_Algorithm.cpp
  Strings/Rabin_Karp_Algorithm.cpp
Labels: Approved Pull Request, C++, DCP21, Level2

#473 Added first index of an element in array
  README.md
  Recursion/first_index_of_element_in_array.cpp
Labels: C++, DCP21, Level0

#379 Library Section is added
  Library/Java/Screenshot 2021-07-12 121030.png
  Library/Java/Screenshot 2021-07-12 132104.png
  Library/Java/Screenshot 2021-07-12 132959.png
  Library/Java/photo_2019-07-03_00-02-44.jpg
  Library/Java/photo_2019-07-20_23-56-04.jpg
  Library/Java/photo_2020-06-29_16-39-21.jpg
  Library/Java/photo_2020-08-17_18-03-24.jpg
  Library/Java/photo_2020-08-29_16-30-42.jpg
  Library/Java/photo_2020-09-17_13-31-29.jpg
  Library/Java/photo_2020-09-18_18-24-45.jpg
  Library/Java/s
  Library/a
  README.md
Labels: DCP21, Level0, documentation, under review

#354 Kth smallest element in an array
  Arrays/Kth_smallest_element_in_an_array_using_heap.cpp
Labels: C++, DCP21, Level1, under review

#452 Max XOR of Two Array added
  Arrays/Max_XOR_of_Two_Array.cpp
Labels: Approved Pull Request, C++, DCP21, Level1

#418 ADDED CODE FOR Red Black Tree (Insertion and Deletion operation) (ISS…
  Data Structures/Trees/red_black_tree_insertion_and_deletion.cpp
Labels: Approved Pull Request, C++, DCP21, Level2

#466 Binary search (Java) added
  Searching Algorithms/Binary_search.java
Labels: Approved Pull Request, DCP21, Java, Level0

#480 Maximum Subset XOR in cpp
  Bit Manipulation/max_subset_XOR.cpp
  README.md
Labels: C++, Changes Requested, DCP21, Level3

#464 expression_tree_evaluation in python
  Data Structures/Trees/expression_tree_evaluation.py
Labels: Approved Pull Request, DCP21, Level1, Python

#478 #433 Finding Square Root of a number using Newton Rhapson Method.
  Numbers/SquareRoot.java
Labels: Approved Pull Request, DCP21, Java, Level2

#472 buy and sell stock with maximum profit
  Dynamic Programming/Buy_And_Sell_Stocks.cpp
Labels: Approved Pull Request, C++, DCP21, Level1

#476 HeapSort in C Language
  .vscode/settings.json
  Sorting Algorithms/HeapSortinC.C
Labels: Approved Pull Request, DCP21, Level1

#481 Flatten Binary Tree to Linked List using CPP
  Data Structures/Trees/Flatten_BinaryTree_to_LinkedList.cpp
Labels: Approved Pull Request, C++, DCP21, Level2

#491 Added all indices of an element in array.
  Recursion/All_indices_of_element.cpp
Labels: C++, DCP21, Level0

#495 Graph Coloring Problem
  Backtracking/Graph_Coloring_Problem.py
Labels: Approved Pull Request, DCP21, Level2, Python

#497 Added Detect negative cycle code in Graphs folder
  Backtracking/Print_all_permutations_of_string.java
  Data Structures/Graphs/Negative_weight_cycle.cpp
Labels: Approved Pull Request, C++, DCP21, Level1

#500 Intersection of two Linked-List in CPP
  Data Structures/Linked Lists/Singly Linked List/Intersection_Of_Two_LinkedList.cpp
Labels: Approved Pull Request, C++, DCP21, Level1

#489 Backtracking Rat in a Maze
  Backtracking/Backtracking-Rat in a Maze.cpp
Labels: Approved Pull Request, C++, DCP21, Level1

#525 Validating IP addresses
  Strings/Validate_IP_address.cpp
Labels: Approved Pull Request, C++, DCP21, Level2

#506 Unbounded Knapsack in C++ #441
  Dynamic Programming/Unbounded_Knapsack.cpp
Labels: Approved Pull Request, C++, DCP21, Level1

#482 closes #443 Trapping rain water
  Arrays/trapping_rain_water_brute_force.cpp
  Arrays/trapping_rain_water_extra_space.cpp
  Arrays/trapping_rain_water_two_pointer.cpp
Labels: Approved Pull Request, C++, DCP21, Level2

#508 Added Josepheus Problem fixes #391
  General Questions/Josepheus_problem.cpp
Labels: Approved Pull Request, C++, DCP21, Level1

#511 Added Single Inheritance in java
  OOPs/Inheritance/Single_Inheritance.java
Labels: Approved Pull Request, DCP21, Java, Level1

#509 Minimum XOR Value added
  Arrays/Minimum_XOR_Value.cpp
Labels: Approved Pull Request, DCP21, Level1

#515 Possible Words From Phone Digits
  Recursion/Possible_Words_From_Phone_Digits.cpp
Labels: Approved Pull Request, C++, DCP21, Level1

#517 Create string_permutations.cpp
  Strings/string_permutations.cpp
Labels: Approved Pull Request, C++, DCP21, Level1

#527 Knight's Tour
  Backtracking/Knight's_Tour.py
Labels: Approved Pull Request, DCP21, Level2

#529 Create integer_to_roman.cpp
  Strings/integer_to_roman.cpp
Labels: Approved Pull Request, DCP21, Level1

#408 Cryptarithmetic Problem Solving (Python)
  Backtracking/Cryptarithmetic_Problem.py
Labels: Approved Pull Request, DCP21, Level3, Python

#530 Branch1
  Arrays/sum_of_all_subarrays.cpp
Labels: Approved Pull Request, DCP21, Level0

#533 Sudoku (Python)
  Backtracking/Sudoku.py
Labels: Approved Pull Request, DCP21, Level1

#536 Added containerWithMostWater.cpp
  Arrays/containerWithMostWater.cpp
Labels: Approved Pull Request, DCP21, Level2

#535 #479 Peak Element in Java
  Arrays/PeakElement.java
Labels: DCP21, Level2

#538 Added searchInRotatedSortedArray.cpp
  Arrays/searchInRotatedSortedArray.cpp
Labels: Approved Pull Request, DCP21, Level2

#551 Median of two Sorted arrays of different size added
  Arrays/Median_of_two_Sorted_arrays_of_different_size.cpp
Labels: DCP21, Level1

#540 Stack Data Structure
  Data Structures/Stacks/stack.c
Labels: Approved Pull Request, DCP21, Level0

#539 RunningSumOf1dArray
  Arrays/RunningSumOf1dArray.cpp
Labels: Approved Pull Request, DCP21, Level0

#547 Added move-zeroes-end-cpp
  Arrays/move_zeroes_end_1traversal.cpp
  Arrays/move_zeroes_end_2traversal.cpp
Labels: Approved Pull Request, DCP21, Level0

#560 Implementation of Shell Sort in Python
  Sorting Algorithms/shell_sort.py
Labels: Approved Pull Request, DCP21, Level0

#564 Subset Sum
  Backtracking/Subset_Sum.py
Labels: Approved Pull Request, DCP21, Level1

#557 Reverse Nodes in k-Groups using CPP
  Data Structures/Linked Lists/Singly Linked List/Reverse_Nodes_in_K_Groups.cpp
Labels: Approved Pull Request, DCP21, Level2

#563 N Queens
  Backtracking/N_Queens.py
Labels: Approved Pull Request, DCP21, Level2

#565 Count Union of two arrays
  DSA 450 GFG/Union_Arrays.cpp
Labels: Approved Pull Request, DCP21, Level0

#570 Segment Tree
  Data Structures/Trees/segment_tree_range_sum_and_update_query.py
Labels: Approved Pull Request, DCP21, Level2

#581 Added Graph Coloring Problem in C
  Backtracking/graph_coloring.c
Labels: Approved Pull Request, DCP21, Level2

#580 8 Puzzle Problem using A* Algorithm
  Searching Algorithms/8_Puzzle_Problem_using_A_star_Algorithm.py
Labels: Approved Pull Request, DCP21, Level3

#542 Add Fair Playoff Codeforces Solution
  Arrays/Fair Playoff.cpp
Labels: Approved Pull Request, DCP21, Level0

#591 Added the code for Single Inheritance in C++
  OOPs/Inheritance/Single_Inheritance_cpp.cpp
Labels: Approved Pull Request, DCP21, Level1

#586 Tower of Hanoi
  DSA 450 GFG/TowerOfHanoi.cpp
Labels: Approved Pull Request, DCP21, Level1

#576 Maximum Element of Binary Tree added
  Data Structures/Trees/Maximum_Element_of_Binary_Tree.cpp
Labels: Approved Pull Request, DCP21, Level1

#582 Added Knapsack Problem in C
  Dynamic Programming/Knapsack_greedyMethod.c
Labels: Approved Pull Request, DCP21, Level1

#583 Coin change(DP) in C++
  Dynamic Programming/Coin_Change.cpp
Labels: Approved Pull Request, DCP21, Level1

#585 8 Puzzle Problem using BFS
  Searching Algorithms/8_Puzzle_Problem_using_BFS.py
Labels: Approved Pull Request, DCP21, Level2

#592 Added the code for Multiple Inheritance in C++
  OOPs/Inheritance/Multiple_Inheritance_cpp.cpp
Labels: Approved Pull Request, DCP21, Level1

#595 Average Calculator
  Arrays/Average_Calculator.py
Labels: DCP21, Level0, Python

#597 Bad String
  Strings/Bad_String.py
Labels: DCP21, Level0, Python

#598 Added SQRBR problem
  Dynamic Programming/Square_brackets.cpp
Labels: DCP21, Level2

#599 Added the code for Hierarchical Inheritance in C++
  OOPs/Inheritance/Hierarchical_Inheritance_cpp.cpp
Labels: DCP21, Level1

#573 String Rotation
  Strings/check_if_strings_are_rotation_of_eachother.cpp
Labels: C++, DCP21, Level0, under review

#606 Added Job Sequencing Problem in C
  Dynamic Programming/job_sequencing_greedyMethod.c
Labels: Approved Pull Request, DCP21, Level1

#600 Added the code for Multilevel Inheritance in C++
  OOPs/Inheritance/Multilevel_Inheritance_cpp.cpp
Labels: Approved Pull Request, DCP21, Level1

#609 Added isomorphic string problem code
  Data Structures/Graphs/Negative_weight_cycle.cpp
  Hashing/IsomorphicStrings.java
Labels: Approved Pull Request, DCP21, Level1

#610 Added binary to dll in Python
  Data Structures/Trees/binary_tree_to_dll.py
Labels: Approved Pull Request, DCP21, Level1

#613 Deleting a node without a head pointer
  Data Structures/Linked Lists/Singly Linked List/Delete_node_without_head_pointer.cpp
Labels: Approved Pull Request, DCP21, Level0

#614 maximum size of balanced bracket sequence added
  Data Structures/Stacks/maximum_size_of_balanced_bracket_sequence.cpp
Labels: Approved Pull Request, DCP21, Level0

#616 Added matrix files
  2D Arrays/sort_matrix_diagonally.py
Labels: Approved Pull Request, DCP21, Level2

#623 Create isomorphic_strings.cpp
  Strings/isomorphic_strings.cpp
Labels: Approved Pull Request, DCP21, Level1

#617 Added the Allocate Minimum No. of Pages.cpp
  DSA 450 GFG/AllocateMinimumNumberOfPages.cpp
Labels: Approved Pull Request, DCP21, Level3

#588 Left rotate array by D in C++
  Arrays/left_rotate_by_d_brute_force.cpp
  Arrays/left_rotate_by_d_extra_space.cpp
  Arrays/left_rotate_by_d_no_extra_space.cpp
Labels: Approved Pull Request, DCP21, Level1

#627 Binary Numbers
  Arrays/Binary_Numbers.py
Labels: DCP21, Level1, Python

#629 Bitwise AND
  Bit Manipulation/Bitwise_AND.py
Labels: DCP21, Level1, Python

#631 N_Queens Problem using C
  Arrays/Rotate Array (LeetCode)-Top Interview Que-Easy Level.cpp
  Backtracking/N_Queens Problem.c
Labels: C, DCP21, Java, Level1

#635 Added findMinimumInRotatedSortedArray.cpp
  Arrays/findMinimumInRotatedSortedArray.cpp
Labels: C++, DCP21, Level2

#636 Added Recursive solution to subset problem
  Recursion/subsets.cpp
  Recursion/subsets2.cpp
Labels: DCP21, Level2

#638 Added the code for Hybrid Inheritance in C++
  OOPs/Inheritance/Hybrid_Inheritance_cpp.cpp
Labels: C++, DCP21, Level1

#639 Operations on matrices .
  2D Arrays/matrices.java
Labels: DCP21, Level0

#643 Added the code for Private Inheritance in C++
  OOPs/Inheritance/Private_Inheritance_cpp.cpp
Labels: C++, DCP21, Level1

#644 Previous Greater Element added
  Data Structures/Stacks/Previous_Greater_Element.cpp
Labels: C++, DCP21, Level1

#566 Create ClosestPairOfPoints
  Divide and Conquer/ClosestPairOfPoints.py
Labels: Approved Pull Request, DCP21, Level1

#568 Binary Tree Maximum Path Sum using CPP
  Data Structures/Trees/BinaryTree_Maximum_Path_Sum.cpp
Labels: Approved Pull Request, DCP21, Level3

#337 added combinational sum
  General Questions/combinational_sum.py
Labels: Approved Pull Request, DCP21, Level1

#655 LCA in Binary tree in Python
  Data Structures/Trees/lowest_common_ancestor_binary_tree.py
Labels: Approved Pull Request, DCP21, Level1

#664 Added Floyed- Warshall Algorithm in C
  Dynamic Programming/Floyed- Warshall.c
Labels: Approved Pull Request, DCP21, Level1

#630 Added Silver and Gold Problem Solution in Java
  SilverAndGold.java
Labels: Approved Pull Request, DCP21, Level1

#669 Rotate Bits added
  Bit Manipulation/rotate_bits.cpp
Labels: C++, DCP21, Level1

#558 Add Zig Zag Conversion
  Dynamic Programming/zigzag_conversion.java
Labels: Approved Pull Request, DCP21, Level2

#663 Circular queue
  Data Structures/Queues/circular_queue.c
Labels: Changes Requested, DCP21, Level1

#671 Codechef Dsa series solutions added
  Codechef Problems/DSA Learning Series/Alternative Square Pattern.java
  Codechef Problems/DSA Learning Series/Buy Please.c
  Codechef Problems/DSA Learning Series/Factors Finding.c
  Codechef Problems/DSA Learning Series/Find Second Largest.c
  Codechef Problems/DSA Learning Series/Find me.c
  Codechef Problems/DSA Learning Series/Is both or not.c
  Codechef Problems/DSA Learning Series/Raju and his trip.c
  Codechef Problems/DSA Learning Series/Range odd.c
  Codechef Problems/DSA Learning Series/Reverse Star Pattern.c
  Codechef Problems/DSA Learning Series/Reverse me.c
  Codechef Problems/DSA Learning Series/Valid traingle or not.c
  Codechef Problems/Richie Rich.c
Labels: DCP21, Level1

#477 Added solution to leetcode 3 in cpp
  Strings/length_of_longest_substring_without_repeat_char.cpp
Labels: C++, DCP21, Level2, under review

#605 Sorted-array-to-BST program added
  General Questions/Sorted-array-to-BST.py
Labels: Approved Pull Request, DCP21, Level2

#668 Path to node in Binary tree
  Data Structures/Trees/path_to_node_binary_tree.py
Labels: Approved Pull Request, DCP21, Level1

#672 Binary Tree right side view
  Data Structures/Trees/binary_tree_right_side_view.py
Labels: DCP21, Level2

#674 Checking the common elements in all the rows of a matrix
  General Questions/Common_elements_in_all_rows_of_a_given_matrix.cpp
Labels: DCP21, Level1

#675 Added oddEvenLinkedList.cpp
  Data Structures/Linked Lists/Singly Linked List/oddEvenLinkedList.cpp
Labels: Approved Pull Request, DCP21, Level2

#661 Check Password strength
  Passwords/password_strength_checker.py
Labels: Approved Pull Request, DCP21, Level1

#680 Added zigZagConversion.cpp
  Strings/zigZagConversion.cpp
Labels: Approved Pull Request, DCP21, Level2

#683 N-Queen Problem using C++
  Backtracking/N-Queen Problem.cpp
Labels: Approved Pull Request, DCP21, Level1

#684 knight tour's problem added
  Backtracking/Knight's_Tour.java
Labels: Approved Pull Request, DCP21, Level2

#603 Updated single linked list python operations
  Data Structures/Linked Lists/Singly Linked List/Single-linked-list-operations.py
Labels: Approved Pull Request, DCP21, Level0

#687 Jazzy and Cricket Balls using C++
  Techgig Code Gladiators 2021/semifinals/JazzyAndCricketBalls.cpp
Labels: Approved Pull Request, DCP21, Level2

#689 BST added
  Data Structures/Trees/BST.py
Labels: Approved Pull Request, DCP21, Level1

#659 Implementation of LongestCommonPrefix in Python
  General Questions/Longest_Common_Prefix.py
Labels: Approved Pull Request, DCP21, Level0

#567 Trapping rain water problem using c++(Optimised)
  Arrays/trappingrainwater.cpp
Labels: Changes Requested, DCP21, Level1, under review

#647 Caesar Cipher using Python
  Cryptography/Caesar_Cipher.py
Labels: Approved Pull Request, DCP21, Level0

#651 Smallest distinct window problem using c++
  Strings/smallestdistinctwindow.cpp
Labels: Approved Pull Request, DCP21, Level1

#681 Added a C++ solution for add 1 to a number represented by linked list
  Data Structures/Linked Lists/Singly Linked List/add_one_to_number_represented_by_linkedlist.cpp
Labels: Approved Pull Request, C++, Level0

#690 Arithmetic , Geometric progression .
  Arrays/Missing_integer.cpp
  General Questions/AP_GP.cpp
Labels: DCP21, Level1

#707 BST Level Order Traversal
  Data Structures/Trees/BST_Level_Order_Traversal.py
Labels: Approved Pull Request, DCP21, Level1

#709 AVL Tree added
  Data Structures/Trees/AVL_Tree_or_not.cpp
Labels: Approved Pull Request, DCP21, Level3

#537 Bellman Ford Algorithm in C
  Data Structures/Graphs/Bellman Ford.c
Labels: DCP21, Level1

#713 Created TwoNum
  Arrays/TwoSum.cpp
Labels: Approved Pull Request, DCP21, Level0

#679 Maximum difference in an array in C
  Arrays/Max_diff_in_array.c
Labels: DCP21, Level0

#703 Added last index of a number in array
  Recursion/Last_index_of_element_in_array.cpp
Labels: Approved Pull Request, DCP21, Level0

#693 Added solution of 30daysOfCode to hackerrank solutions folder
  Hackerrank solutions/30 days Of Code/Day0- Hello World.c
  Hackerrank solutions/30 days Of Code/Day1-DataTypes.c
  Hackerrank solutions/30 days Of Code/Day10-BinaryNumbers.c
  Hackerrank solutions/30 days Of Code/Day11-2D_arrays.c
  Hackerrank solutions/30 days Of Code/Day12-Inheritance.java
  Hackerrank solutions/30 days Of Code/Day2-Operators.c
  Hackerrank solutions/30 days Of Code/Day3-IntroToConditionalStatements.c
  Hackerrank solutions/30 days Of Code/Day4-ClassVSInstance.c
  Hackerrank solutions/30 days Of Code/Day5-Loops.c
  Hackerrank solutions/30 days Of Code/Day6-Let's Review.c
  Hackerrank solutions/30 days Of Code/Day7-Arrays.c
  Hackerrank solutions/30 days Of Code/Day9-Recursion3.c
Labels: DCP21, Level1

#716 Added Decode Ways II (LeetCode) problem
  Strings/DecodeWaysII.java
Labels: DCP21, Level3

#726 Python solution for Longest palindromic substring
  DSA 450 GFG/LongestPalindromicSubstring.py
Labels: Approved Pull Request, DCP21, Level2

#727 Added merge_without_extra_space
  DSA 450 GFG/merge_without_extra_space.cpp
Labels: Approved Pull Request, DCP21, Level1
